.arrow-back {
    top: 1.4rem;
    left: 2rem;
    position: absolute;
}


.checkout-container {
    width: 100%;
    max-width: 700px;
    height: 90vh;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout-content {
    width: 100%;
    padding: 250px;
    margin-top: 30px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.bag {
    width: 100px;
    height: 100px;
    top: 1.6rem;
    left: 20vh;

}

.end-title {
    font-size: 28px;
}

.drinks {
    max-width:100px;
    max-height:50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(179, 179, 179, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}