.app-header {
    width: 100%;
    background-color: #8257e6;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.app-header .logo {
    max-width: 180px;
    max-height: 160px;
}
picture {
    display: block;
}

img {
        display: block;
        width: 100%;
        height: auto;
}